// data
@import "./data/palett-colors";
@import "./data/transitions";
@import "./data/shadows";
@import "./data/fonts";

*{
    padding: 0;
    margin: 0;
    user-select: none;
    }

.main{
    background: linear-gradient($color4, $color5);
}

.header-container{
    background: #fff;
    height: 100%;
    margin: 0 auto;
    max-width: 1300px;
    box-shadow: $imgs;
}

//navbar
@import "../func/navbar/navbar";

//Section_About
@import "../func/section_about/section_about";

//Section_Options
@import "../func/section_projects_navbar/section_options";

//Section_Projects
@import "../func/section_projetcs/section_projects";

//Setion_files
