// data
@import "./data/palett-colors";
@import "./data/transitions";
@import "./data/shadows";
@import "./data/fonts";

*{
    padding: 0;
    margin: 0;
    user-select: none;
    }

.main{
    background: linear-gradient($color4, $color5);
}

.header-container{
    background: #fff;
    height: 100vh;
    margin: 0 auto;
    max-width: 1400px;
    box-shadow: $imgs;
}

//navbar
@import "../func/navbar/navbar";

//section_about
@import "../func/section_about/section_about";

//section_Tutorial

//setion_files
