//VT323 8bit
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=VT323&display=swap');

*{
    font-family: "Comfortaa", sans-serif;
    font-weight: 500;
    font-style: normal;
}