.navbar-container{
    background: #ffffff;
}

.show{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    li{
        margin: 20px;
        list-style: none;
        display: flex;
        align-items: center;
         
    }
    a{
        text-decoration: none;
        text-transform: uppercase;
        color:$color4;
        transition: $timer3;
        font-size: 14px;
        margin-top: 6px;
        padding-bottom: 3px;
        border-bottom: 2px solid white;
        transition: border-bottom 0.3s;
    }
    a:hover{
        color: $color3;
        border-bottom: 2px solid $color3;
    }

}


.btn-change{
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #000;
    font-size: 32px;
}