.navbar-container{
    margin: 40px 20px 40px 20px;
    background: #fff;
    display: flex;
    gap: 20px;

    li{
        margin: 10px;
        list-style: none;
        a{
            text-decoration: none;
            text-transform: uppercase;
            color:#000;
            transition: $timer3;
            text-shadow: $as;
            font-size: 22px;
        }

        a:hover{
            color: $color3;
        }
    }
}

.show{

}

.btn-change{
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #000;
    font-size: 32px;
}

@media (max-width: 800px){
}